# default reviewers
*                 @greenbone/gea @greenbone/team-matt

# dev ops
.github/          @greenbone/devops @greenbone/gea @greenbone/team-matt
.docker/          @greenbone/devops @greenbone/gea @greenbone/team-matt
