# default reviewers
*                 @greenbone/gvmd-maintainers @mattmundell

# dev ops
.github/          @greenbone/devops @greenbone/gvmd-maintainers @mattmundell
.docker/          @greenbone/devops @greenbone/gvmd-maintainers @mattmundell
