Source: openvas-manager
Section: admin
Priority: optional
Maintainer: Debian OpenVAS Maintainers <openvas-distro-deb@wald.intevation.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.0

Package: openvas-manager
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Management layer for OpenVAS network security scanner
 The OpenVAS Manager is a layer between the OpenVAS Clients
 and the actual OpenVAS server. The manager cares for user data,
 offers the protocol OMP to the client tools and controls the
 server via protocol OTP.

