name: Container Image Builds

on:
  push:
    branches: [ main ]
    tags: ["v*"]
  workflow_dispatch:


jobs:
  images:
    name: Build and upload container images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Find reference version
        uses: greenbone/actions/reference-version@v1
      - name: Login to Docker Registry
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push Container image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ github.repository }}:${{ env.VERSION }}
          file: .docker/oldstable.Dockerfile

  upload-build:
    name: "Upload images for building gvmd"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compiler:
          - gcc
          - clang
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Gather container image names
        uses: greenbone/actions/container-image-tags@v1
        id: container
        with:
          image-name: ${{ github.repository }}-${{matrix.compiler}}-build
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - run: echo "Build and push ${{ steps.container.outputs.image-tags }}"
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ steps.container.outputs.image-tags }}
          file: .docker/build.Dockerfile
          build-args: |
            COMPILER=${{matrix.compiler}}
